#burgerz {
  left: 50%;
  top: 50%;
}

li {
  padding: 5px;
  margin: 5px;
  background: green;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
